#space {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(1, 38, 138);
  z-index: 1;
}
:root{
  --primary: #fff;
  --bg-color: rgb(1, 38, 138);
  --bg-envelope-color: #d5e7e3;
  --envelope-tab: #c0dbd6;
  --envelope-cover: #aad0c9;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #015f56;
  --heart-color: #8a0126;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 2;
  grid-template-columns: 1fr;
}
.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}
.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}
.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
}

.envelope > .letter > .text {
  font-family: 'Sacramento', cursive;
  color: var(--txt-color);
  text-align: left;
  font-size: 9px;
}
.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}
.heart:before, 
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}
.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}
.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinking {
  from, to { border-color: transparent; }
  50% { border-color: #d5d55e; }
}
.title-container {
  display: inline-block;
  font-family: 'Rubik Glitch Pop', sans-serif;
  font-size: 30px;
  color: #d5d55e;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 5s steps(30, end) forwards, blinking 1s infinite;
  animation-delay: 1s;
}
.emoji {
  color: rgba(255, 255, 255, 0.781);
  font-size: 30px;
  top: 70%;
}
.letter_emoji {
  text-align: center;
  color: #37015f;
  font-size: 10px;
}